

.cabeca {

	display: flex;
	padding: 60px;
  	background: #57068C;
  	color: white;
  	overflow-x: hidden;
  	margin: 0 -10vw;
  	font-size: 30px;
  	justify-content: center;

}


.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    max-width: 1000px;
    height: 150px;
    font-family: sans-serif;
    align-items: center;
}

.container div {
	background: #cdf6eb;
  width: 100vw;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0px;

  }
.box { 
	background: #028082; 
    height: 70px;
    width: 200px;
    font-size: 1em;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
